<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${error}">404</title>
    <style>
        .box {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
        }
        span {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="box">
    <h3>Oops Something went wrong...</h3>
    <br>
    <h1>Error Info: <span th:text="${error}"></span></h1>
    <h1>Status: <span th:text="${status}"></span></h1>
    <br><br>
    <h3>You will be redirected to the <a th:href="@{/home}">home</a> page in five seconds.
        <meta http-equiv="refresh" content="5; url='/home'" /></h3>
</div>
</body>
</html>