<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .giphy-embed {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    </style>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title th:text="${status} + ' - '+ ${error}">500</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
    <div class="alert alert-danger fill-parent"
         th:if="${'error'}">
        <h1 class="display-5" th:text="'Error Info: ' + ${error} + ' / Status: ' + ${status}">Error</h1>
        <span>You will be redirected to the <a th:href="@{/home}">home</a> page in five seconds.
        <meta http-equiv="refresh" content="5; url='/home'" /></span>
        <iframe src="https://giphy.com/embed/kcymXcTHzbOssPw0wl" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/facepalm-terrygregory-terry-gregory-kcymXcTHzbOssPw0wl">via GIPHY</a></p>
    </div>
</div>
</body>
</html>